My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -256,
        -64
      ],
      "id": "7d3284b4-375e-45d8-8daa-e4c4b75db113",
      "name": "Telegram Trigger",
      "webhookId": "bba9c8f3-0875-4cec-89f4-d1c29d48fedc",
      "credentials": {
        "telegramApi": {
          "id": "WGecsQ9JshYZPOMV",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -32,
        -64
      ],
      "id": "07a9e586-0ebc-4a4d-89dc-b5a395df7903",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "gpt-4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -160,
        176
      ],
      "id": "0a365536-fe16-45c9-acc5-ad3b760ea975",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "AWrpy3rqhNl7KLyz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        320,
        -64
      ],
      "id": "e0e6ee8a-573e-4d60-bcff-8e90df0ad47e",
      "name": "Send a text message",
      "webhookId": "58218f91-8c5a-4cc1-99bc-911374464e9a",
      "credentials": {
        "telegramApi": {
          "id": "WGecsQ9JshYZPOMV",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e21a0414-6412-4ec5-bd2f-7d34958a97b2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4cf9bfc5613d0344bd588174aba93ef7be3a237cbdb6e9978d0699a47af3c575"
  },
  "id": "lSFUKu32yUHkTQGu",
  "tags": []
}